.homeHeading{
    font-family: roboto;
    font-size: 20px;
    color: #202120;
    margin: 20px;
}
.homepara{
    font-family: roboto;
    margin: 20px;
    color: #9d9db0;
}
.homeContainer{
    background-color: #e9e8ed;
    padding: 1px;
    min-height: 100vh;
}
.home-inputs-alignment{
  padding: 10px;
}
.home-name{
    font-family: roboto;
    font-size: 20px;
    padding: 10px;
}
.home-input-container{
    background-color: #ffffff;
    margin: 20px;
    border-radius: 6px;
}

.home-input{
    width: 300px;
    height: 30px;
}
.home-search-button{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    color: #ffffff;
    background-color: #7f7e9c;
    font-family: Roboto;
    cursor: pointer;
    border-radius: 4px;
    border-width: 0px;
}

.home-reset-button{
    width: 100px;
    height: 30px;
    margin-left: 20px;
    color: #000000;
    font-family: Roboto;
    cursor: pointer;
    border-width: 0px;
    border-radius: 4px;
}
.home-details-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    background-color: #373737;

}
.home-product-details{
    font-family: Roboto;
    color: #ffffff;
    margin: 6px;
}